.letra {
  font-family: Inter;
  font-size: 120px;
  font-style: italic;
  font-weight: 700;
  line-height: 145px;
  letter-spacing: 0em;
  text-align: left;
  color: linear-gradient(0deg, #002f67, #002f67),
    linear-gradient(0deg, #ffffff, #ffffff);
  height: 113px;
  width: 80px;
  left: 230px;
  top: 225px;
  border-radius: nullpx;
}

.letra.j {
  height: 145px;
  width: 69px;
  left: 239px;
  top: 396px;
  border-radius: nullpx;
  font-family: Inter;
  font-size: 120px;
  font-style: italic;
  font-weight: 700;
  line-height: 145px;
  letter-spacing: 0em;
  text-align: left;
  background: linear-gradient(0deg, #002f67, #002f67),
    linear-gradient(0deg, #73c04a, #73c04a);
}

.letra.r {
  height: 145px;
  width: 80px;
  left: 233px;
  top: 566px;
  border-radius: nullpx;
  font-family: Inter;
  font-size: 120px;
  font-style: italic;
  font-weight: 700;
  line-height: 145px;
  letter-spacing: 0em;
  text-align: left;
  background: linear-gradient(0deg, #73c04a, #73c04a),
    linear-gradient(0deg, #ffffff, #ffffff);
}

.square {
  height: 1024px;
  width: 549px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  background: #57759080;
}
